.left{
background-color: rgb(238,238,238);
}
.aside-menu{
padding: 52px 0px;
list-style: none;
clear:both;
}
.aside-menu .list-item{
}
.aside-menu .list-item a{
display: block;
padding: 10px 25px;
font-size: 16px;
color:gray;
}
.aside-menu .list-item-high {
background-color: #e3e3e3;
}
.aside-menu .list-item-high span{
	font-size:14px;
}
.aside-menu .list-item-high span{
	color: #f8ac53;
}

.right{
overflow-x:hide;
overflow-y:auto;
padding-top:52px;
}